    * {
      margin: 0;
      padding: 0;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1rem 2rem;
      background-color: #1e3a8a;
      color: white;
    }

    nav a {
      color: white;
      text-decoration: none;
      padding: 20px;
      font-size: 1.5rem;
    }

    .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5rem 2rem;
      background: linear-gradient(
        90deg,
        rgba(15, 9, 130, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
      );
      height: 50vh;
      color: #fff;
    }
    .hero h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .hero p {
      max-width: 600px;
      margin-bottom: 2rem;
      font-size: 1.1rem;
    }

    .hero button {
      background-color: #89d921;
      color: #1e3a8a;
      border: none;
      padding: 0.8rem 1.5rem;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 300px;
      border: 1px solid black;
      border-radius: 5px;
      padding: 1rem 2rem;
    }

    .card-section {
      display: flex;
      justify-content: center;

      flex-wrap: wrap;
      gap: 1.5rem;
      padding: 3rem 2rem;
      background-color: #ffffff;
    }
    i {
      color: red;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1rem 2rem;
      gap: 1rem;
    }

    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 2rem;
      background-color: #1e3a8a;
      color: white;
    }