.header {
  border-bottom: 2px solid #100f0f;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 1rem;
}
nav{
    padding: 30px;
    border-right: 2px solid #0f0e0e;
}
.grid-container footer{
    grid-column: span 3;
}

img{
    width: 100%;
}

.last{
    border-left: 2px solid #121111;
    padding: 30px;
}
.last ul li{
    text-decoration: none;
}
.footer {
  border-top: 2px solid #0d0c0c;
  text-align: center;
  padding: 1rem 2rem;
}