.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  height: 100vh;
  padding: 1rem;
}


.grid-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
}


.item-1 {
  background: green;
  grid-row: 1 / 4;
}

.item-2 {
  background: green;
  grid-column: 2 / 4;
}

.item-3 {
  background: red;
}
.item-4 {
  background: orange;
}
.item-5 {
  background: red;
}
.item-6 {
  background: green;
  grid-row: 2 / 4;
  grid-column: 4;
}
.item-7 {
  background: red;
}
.item-8 {
  background: orange;
}
