* {
  margin: 0;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 200px 200px 200px;
  gap: 1rem;
}

.grid-container div {
  background-color: palevioletred;
  border: 4px solid rgb(34, 29, 29);
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

.nav {
  grid-row-start: 2;
  grid-row-end: 4;
}

.top{
     grid-column-start: 2;
     grid-column-end: 4;
}
